body {      
    background: linear-gradient(180deg, rgba(26,39,127,1) 16%, rgba(21,138,200,0.9616888991924895) 99%, rgba(255,255,255,1) 100%);
    background-size: 1540px 750px;    
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 1514px;
}

header {
    min-width: 1000px;
}

#inoc {
    font-family: "Times New Roman", Times, serif;
    font-size: 72px;
    margin: 0px;
    margin-left: 20px;
    color: white;
}

#logo1 {
    float: right;
    height: 53px;
    margin-top: 10px;
    margin-right: 20px;
}

#logo2 {
    float: right;
    height: 80px;
    margin-right: 25px;
}

#logotext {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

hr {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    clear: both;
}

.side {
    width: 310px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    float: left;
    margin-bottom: 6px;
    padding-top: 100px;
    padding-left: 5px;
    padding-right: 5px;
}

.side a {
    text-decoration: none;
    font-size: 19px;
}

.side p:hover {
    background: black;
}

#selected {
    background-color: red;
}

#selected:hover {
    background-color: black;
}

.side p {
    padding: 5px; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.main {
    width: 1190px;
    height: 500px;
    background-color: white;
    float: right;
    margin-left: 3px;
    border-radius: 10px;
    margin-bottom: 6px;
}

footer {
    margin: auto;
    color: white;
    text-align: center;
}

footer p {
    margin-top: 10px;
}

