body {      
    background: linear-gradient(180deg, rgba(26,39,127,1) 16%, rgba(21,138,200,0.9616888991924895) 99%, rgba(255,255,255,1) 100%);
    background-size: 1540px 750px;    
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 1514px;
}

header {
    min-width: 1000px;
}

#inoc {
    font-family: "Times New Roman", Times, serif;
    font-size: 72px;
    margin: 0px;
    margin-left: 20px;
    color: white;
}

#logo1 {
    float: right;
    height: 53px;
    margin-top: 10px;
    margin-right: 20px;
}

#logo2 {
    float: right;
    height: 80px;
    margin-right: 25px;
}

#logotext {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

#main {
    border-radius: 10px;
    background-color: white;
    width: auto;
    height: 490px; 
}

#divider {
    height: 470px;
    width: 2px; 
    margin-top: 10px;
    float: left;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

#login1 {
    width: 1000px;
    height: 490px;
    float: left;
    text-align: center;
}

#login1 h4{
    text-align: center;
}

#login1 form input[type=text] {
    border-radius: 5px;
}

#login1 form input[type=email] {
    border-radius: 5px;
}

#login2 {
    width: 414px;
    height: 410px;
    float: right;
    text-align: center;
    padding: 40px;
}

#login2 h3 {
    margin-top: 80px;
}

#error {
    display: none;
    border-color: red;
    border-style: none;
    color: red;
    background-color: #f98e8e8a;
    text-align: center;
    margin-top: 4px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
    width: 300px;
    height: 28px; 
}

#error p {
    margin: 0px;
    padding: 5px;
}

#user {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    width: 226.8px;
    height: 24px;
    padding-left: 10px; 
}

#pass {
    margin-top: 7px;
    margin-bottom: 14px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    width: 226.8px;
    height: 24px;
    padding-left: 10px;
}

#submit {
    margin-left: 121px;
    margin-right: 121px;
    margin-bottom: 16px;
    height: 30px;
    width: 65px;
    border-radius: 6px;
    background-color: #2983D9;
    color: #ffffff;
    border-color: #ffffff;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #7F8387;
}

a:hover {
    color: #2983D9;
}

footer {
    margin: auto;
    color: white;
    text-align: center;
}

footer a {
    color: white;
}

footer a:hover {
    color: black;
}

footer p {
    margin-top: 10px;
}

