

body {      
    background: linear-gradient(180deg, rgba(26,39,127,1) 16%, rgba(21,138,200,0.9616888991924895) 99%, rgba(255,255,255,1) 100%);
    background-size: 1540px 750px;    
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 1514px;
}

header {
    min-width: 1000px;
}

#inoc {
    font-family: "Times New Roman", Times, serif;
    font-size: 72px;
    margin: 0px;
    margin-left: 20px;
    color: white;
}

#logo1 {
    float: right;
    height: 53px;
    margin-top: 10px;
    margin-right: 20px;
}

#logo2 {
    float: right;
    height: 80px;
    margin-right: 25px;
}

#logotext {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

hr {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    clear: both;
}

.side {
    width: 310px;
    height: 485px;
    background-color: white;
    border-radius: 10px;
    float: left;
    margin-bottom: 6px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.side h2 {
    text-align: left;
    color: rgba(26,39,127,1);
    margin-bottom: 25px;
}

.side img {
    float: left;
    width: 55px;
    height: 50px;
    margin: 18px;
}

.side a {
    text-decoration: none;
    font-size: 19px;
}

.side a:visited {
    color: -webkit-link;
}

.side p:hover {
    background-color: rgba(0,0,0,0.5);
    border-radius: 15px;
    text-shadow: 
}

#selected {
    background-color: rgba(26,39,127,0.5);
    border-radius: 15px;
}

#selected:hover {
    background-color: rgba(0,0,0,0.5);
    border-radius: 15px;
}

.side p {
    padding-left: 45px;
    padding-top: 5px;
    padding-bottom: 5px; 
    margin-top: 20px;
    margin-bottom: 0px;
}

.main {
    width: 1170px;
    height: 480px;
    padding: 10px;
    background-color: white;
    float: right;
    margin-left: 3px;
    border-radius: 10px;
    margin-bottom: 6px;
}

footer {
    margin: auto;
    color: white;
    text-align: center;
}

footer p {
    margin-top: 10px;
}
input[type=text] {
    border-radius: 5px;
    padding-left: 5px;
    width:250px;
    height: 20px;
}
form
{
	margin-left:40%;
    font-size: 18px;
    font-weight: bold;
}
#note ul 
{
	margin-left:150px;
}
input[type=submit] {
    margin-left: 13%;
    margin-bottom: 16px;
    height: 30px;
    width: 65px;
    border-radius: 6px;
    background-color: #2983D9;
    color: #ffffff;
    border-color: #ffffff;
    cursor: pointer;
}

input[disabled] {
    background-color: #7F8387;
}